@import "vars";

.section {
    margin-top: 2em;
    padding-block: 1em;
    padding-inline: 1em;
    border-left: 2px solid $color-accent;
    position: relative;
    background-size: 150%;
    background-position: right;
    transition: .5s;

    /* yeah, this is a bit ugly. Just to make things clear, we are adding
        the alpha (AA) value at the of this color, which is in HEX */
    background-image: linear-gradient(
        90deg,
        #{$color-accent}50,
        #{$color-accent}25,
        #{$color-accent}25,
    );

    &:hover {
        background-position: left;
    }
}

.section-title {
    font-size: 1.5em;
    font-weight: bold;
}

.section-content {
    margin-block: 1em;

    &:last-child {
        margin-bottom: 0;
    }
}